.card-title{
  text-align: left;
}
#description-slide {
  height: 200px; width: 100%; text-align: center; font-weight: 600px;
}
#description-slide p {
  padding: 10px;
}
#carousel-custom-dots span {
  background-color: white;
}

.hide-item {
  display: block;
}

.show-item {
  display: block;
}

/*.product-block {*/
  /*display: block;*/
  /*text-align: center;*/
  /*height: 200px;*/
/*}*/

.product-pic {
  position: relative;
  width:70px;
  text-align: center;

}

.product-footer {
  background-color: transparent;
  border-color: #F5F5F5;
  height: 100px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 2px;

}

#product-name{
  margin-top: 1%;
}

#product-name h3{
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}

/*.links{*/
  /*font-weight: 600;*/
  /*font-size: 0.7em;*/
/*}*/

.dropbtn {
  /*background-color: transparent;*/
  /*color: white;*/
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00abc0;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #FFFFFF;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #00abc0;
  font-size: 1.2em;
  border-radius: 4px;
  font-weight: 600;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}
.list-links{
  display: inline-block; width: 30%;
}

.hide-div{
  background-color: rgba(10,10,200,0.75);
}

.carousel-inner{
  height: 110px;
  background-color: #FFFFFF;
}

iframe {
  width: 100%;
}

.carousel-control.right {
  background-image: none !important;
}

.carousel-control.left {
  background-image: none !important;
}


td{
  width: 15px;
  height: 15px;
}
#rate-status{
  margin-top: 0%;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 10px; }
h1 { font-size: 1.5em; margin: 5px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 2px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input, /* show gold star when clicked */
.rating { color: #0284CF; } /* hover previous stars in list */

.rating > input + label /* hover current star when changing rating */
.rating > input ~ label,
.rating > label, /* lighten current selection */
.rating > input ~ label { color: #FFED85;  }

h6 {
  color: #0284CF;
  text-align: center;
}

#description-slide p {
  font-weight: 600;
}
