<div class="row text-center">
  <div class="col-md-12">
    <div id="span-black" style="display: table;">
      <fieldset class="rating" style="display: table; margin: auto" *ngIf="rateAverage <= 4.9 && rateAverage > 4">
        <input type="radio" id="star5" name="rating" value="5" />
        <label class = "full" style="color: #FFFFFF" for="star5"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half" />
        <label class="half" for="star4half" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star4" name="rating" value="4" />
        <label class = "full" for="star4" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half" />
        <label class="half" for="star3half" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star3" name="rating" value="3" />
        <label class = "full" for="star3" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half" />
        <label class="half" for="star2half" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star2" name="rating" value="2" />
        <label class = "full" for="star2" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half" />
        <label class="half" for="star1half" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star1" name="rating" value="1" />
        <label class = "full" for="star1" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="starhalf" name="rating" value="half" />
        <label class="half" for="starhalf" title="Pretty good {{ rateAverage}}"></label>
      </fieldset>
      <fieldset class="rating" style="display: table; margin: auto" *ngIf="rateAverage === 4">
        <input type="radio" id="star5" name="rating" value="5" />
        <label class = "full" style="color: #FFFFFF" for="star5"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half" />
        <label class="half"  style="color: #FFFFFF" for="star4half" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star4" name="rating" value="4" />
        <label class = "full" for="star4" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half" />
        <label class="half" for="star3half" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star3" name="rating" value="3" />
        <label class = "full" for="star3" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half" />
        <label class="half" for="star2half" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star2" name="rating" value="2" />
        <label class = "full" for="star2" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half" />
        <label class="half" for="star1half" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="star1" name="rating" value="1" />
        <label class = "full" for="star1" title="Pretty good {{ rateAverage}}"></label>
        <input type="radio" id="starhalf" name="rating" value="half" />
        <label class="half" for="starhalf" title="Pretty good {{ rateAverage}}"></label>
      </fieldset>
      <br>
      <!--<div>-->
        <!--<h6 routerLink="/apps/{{ Id }}" title="click here to rate this app" *ngIf="rateAverage">{{ rateAverage+'  ' }} {{'   ( '+ totalRatings+'  votes) ' }}</h6>-->
      <!--</div>-->
    </div>
  </div>
</div>
<!--<div class="col-md-2"></div>-->
