<div class="app-card">
  <div class="app-card-image">

  </div>
  <div class="app-card-text">
    <div class="app-card-title">
      title
      <div class="card-rating">
        <span><img src="assets/icons/full-star.png" alt=""></span>
        <span><img src="assets/icons/full-star.png" alt=""></span>
        <span><img src="assets/icons/full-star.png" alt=""></span>
        <span><img src="assets/icons/full-star.png" alt=""></span>
        <span><img src="assets/icons/full-star.png" alt=""></span>
      </div>
    </div>
    <div class="app-card-options">

    </div>
  </div>
</div>
