
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

/*[class^="icon-"]::before, [class*=" icon-"]::before {*/
/*text-decoration: inherit;*/
/*display: inline-block;*/
/*margin-top: 15px !important;*/
/*}*/

.parallax {
  height: 250px; width: 100%; background-repeat: no-repeat; background-size: cover;
}
