
<div class="section section-header landing-carousel owl-carousel" style="border-radius: 4px; border: 10px solid #EAEDEF;">
  <div style="background-image: url('assets/img/products/score-card-cover.png'); height: 250px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax"></div>
  <div style="background-image: url('assets/img/products/score-card-widget-cover.png'); height: 250px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax"></div>
  <div style="background-image: url('assets/img/products/idashboard-cover.png'); height: 250px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax"></div>
  <div style="background-image: url('assets/img/products/dhis2touch-cover.png'); height: 250px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax"></div>
  <div style="background-image: url('assets/img/products/indicator_search.png'); height: 250px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax"></div>

  <div style="background-image: url('assets/img/products/idashboard-cover.png'); height: 250px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax"></div>
  <div style="background-image: url('assets/img/products/hisptz-touch-dashboard.png'); height: 250px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax"></div>
</div>
