<div class="" *ngIf="comment">
  <div>
    <form [formGroup]="commentForm" (ngSubmit)="submitComment($event)">
      <div class="form-group">
        <label class="">Comment : </label>
        <div class="">
          <textarea formControlName="comnt" type="text" style="width: 300px" [(ngModel)]="this.comnt" name="comnt" class="form-control" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <button class="btn btn-success pull-right">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <ul class="list-inline" *ngFor="let com of comment">
    <li><strong style="font-size: 0.7em; color: #0284CF;">{{ com.commentDate | date :'fullDate'}}</strong><br>
      <p style="margin-left: 2%;"> {{  com.displayName + ' :  '}} {{ com.theComment }}</p></li>
  </ul>
</div>
