.app-category-item-container {

}

.category-item-title {
  border-bottom: solid thin #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category-item-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.app-card-container {
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  height: 200px;
  /*width: 200px;*/
  margin-top: 20px;
}

@media (max-width: 500px) {
  .app-card-container {
    /*height: 300px;*/
    width: 100%;
  }
}
