<div class="app-category-item-container">
  <div class="category-item-title">
    title
  </div>
  <!--<div class="category-item-body">-->
  <div class="row">
    <div class="col-md-3 col-xs-4">
      <div
        class="app-card-container"
        (click)="viewAppDetail($event, 'id')"
      >
        <app-app-card></app-app-card>
      </div>
    </div>
    <div class="col-md-3 col-xs-4">
      <div
        class="app-card-container"
        (click)="viewAppDetail($event, 'id')"
      >
        <app-app-card></app-app-card>
      </div>
    </div>
    <div class="col-md-3 col-xs-4">
      <div
        class="app-card-container"
        (click)="viewAppDetail($event, 'id')"
      >
        <app-app-card></app-app-card>
      </div>
    </div>
    <div class="col-md-3 col-xs-4">
      <div
        class="app-card-container"
        (click)="viewAppDetail($event, 'id')"
      >
        <app-app-card></app-app-card>
      </div>
    </div>
    <div class="col-md-3 col-xs-4">
      <div
        class="app-card-container"
        (click)="viewAppDetail($event, 'id')"
      >
        <app-app-card></app-app-card>
      </div>
    </div>
  </div>
</div>
