<div class="row">
  <div class="col-md-12">
    <ul class="list-inline" style="border-bottom: solid 1px #F5F5F5;">
      <li><img src="{{product.logo_url}}" alt="" width="30" height="35" style="padding-bottom: 7px;"></li>
      <li><h3><b>{{product.name}}</b></h3></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading product-detail-panel-heading">
        <div class="product-detail-mask"></div>
        <img src="{{product.cover_url}}" class="img-responsive" alt="">
      </div>
      <div class="panel-footer product-detail-panel-footer">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline pull-left">
              <li><a href="{{product.download_url}}" class="btn btn-sm"><i class="fa fa-download"></i> download</a></li>
              <li *ngIf="product.demo_url"><a href="{{product.demo_url}}" target="_black" class="btn btn-sm"><i class="fa fa-download"></i> view demo</a></li>
              <li *ngIf="product.github_url"><a href="{{product.github_url}}" target="_blank" class="btn btn-sm"><i class="fa fa-github"></i> View on github</a></li>
            </ul>
            <ul class="list-inline pull-right">
              <li><a href="http://hisptanzania.org" target="_blank" class="btn btn-sm" style="border-style: none;"><small>By Hisp Tanzania</small></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default product-description-panel">
          <div class="panel-body">
            <ul class="list-inline" style="border-bottom: solid 1px;">
              <li><img src="{{product.logo_url}}" alt="" width="26" height="26" style="padding-bottom: 3px;"></li>
              <li><h4><b>{{product.name}}</b></h4></li>
            </ul>
            <ul class="list-inline">
              <li><small><b>Version:</b> {{product.version}}</small></li>
              <li *ngIf="product.revision"><small><b>Revision:</b> {{product.revision}}</small></li>
              <li><small><b>License:</b> <a target="_blank" style="color: #0189D6;" href="https://opensource.org/licenses/bsd-license.php">BSD License</a></small></li>
            </ul>
            <h4><b>Description</b></h4>
            <p class="text-justify">{{product.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default product-features-panel">
          <div class="panel-body">
            <h4><b>Features</b></h4>
            <ul class="list-unstyled" *ngFor="let item of product.features">
              <li>
                <div class="row">
                  <div class="col-md-2 col-xs-2 col-sm-2" style="color: #008EDD; padding-left: 8%;"><span class=""><i class="fa fa-check-square"></i></span></div>
                  <div class="col-md-10 col-xs-10 col-sm-10" style="padding-left: 0px;">{{item}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
