<nav class="navbar navbar-default navbar-fixed-top" color-on-scroll="200">
  <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
  <div class="container">
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a routerLink="" class="navbar-brand" style="padding-top: 2px;">
        <ul class="list-inline">
          <li><img src="assets/img/logo.png" alt=""></li>
          <li><span style="font-weight: bolder; color: #0284CF;">Home</span></li>
        </ul>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navbar-uppercase">
        <li routerLinkActive="active">
          <a href="{{app.github_url}}" target="_blank" class="btn pull-right" style="border-style: none;"><i class="fa fa-github"></i><small style="margin-left: 1%; color: #0284CF;">{{app.name}}</small></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

  <div class="container" style="margin-top: 75px; background-color: #FFFFFF;">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline" style="border-bottom: solid 1px #F5F5F5;margin-left: 5px;">
          <li><img src="{{app.logo_url}}" alt="" width="30" height="35" style="padding-bottom: 7px;"></li>
          <li><h3 style="text-align: center;"><b>{{app.name}}</b></h3></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-inline pull-right">
          <li><a href="{{app.download_url}}" class="btn btn-sm" style="border: none"><i class="fa fa-download"></i> download</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading app-detail-panel-heading">
            <div class="app-detail-mask"></div>
            <!--<img src="{{app.cover_url}}" class="img-responsive" alt="">-->
            <app-slider [product]="app" ></app-slider>
          </div>
          <div class="panel-footer" style="background-color: #FFFFFF;">
            <div class="row">
              <div class="col-md-12">
                <ul class="list-inline pull-left">
                  <li><a href="{{app.download_url}}" class="btn btn-sm"><i class="fa fa-download"></i> download</a></li>
                  <li *ngIf="app.demo_url"><a href="{{app.demo_url}}" target="_black" class="btn btn-sm"><i class="fa fa-download"></i> view demo</a></li>
                  <li *ngIf="app.github_url"><a href="{{app.github_url}}" target="_blank" class="btn btn-sm"><i class="fa fa-github"></i> View on github</a></li>
                </ul>
                <ul class="list-inline pull-right">
                  <li><a href="http://hisptanzania.org" target="_blank" class="btn btn-sm" style="border-style: none;"><small>By Hisp Tanzania</small></a></li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row" style="margin-bottom: 2%;  margin-top: 1%;">
              <div class="col-md-12">
                <fb-like href="{{ app.facebook_url }}"></fb-like>
              </div>
              <div class="col-md-6" style="display: table;  margin-top: 2%;">
                <fb-comments></fb-comments>
              </div>
              <div class="col-md-6" *ngIf="rateAverage" style="display: table; margin-top: 2%;">
                <!--<div class="rating" style="display: table; margin: none;">-->
                  <!--<span (click)="login(5)">☆</span><span (click)="login(4)">☆</span><span (click)="login(3)">☆</span><span (click)="login(2)">☆</span><span (click)="login(1)">☆</span>-->
                <!--</div>-->
                <div id="span-black">
                  <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" (click)="login(5)" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" (click)="login(4.5)" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" (click)="login(4)" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half"  (click)="login(3.5)" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" (click)="login(3)" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" (click)="login(2.5)" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2"  (click)="login(2)" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" (click)="login(1.5)" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" (click)="login(1)" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" (click)="login(0.5)" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                  </fieldset>
                </div> <br>
                <h6>{{ rateAverage+'  ' }} by {{'  '+ totalRatings+' ' }}votes</h6>
                  <div>
                    <div class="" style="display: table;">
                      <div id="rate-status">
                        <ul class="list-inline">
                          <li class="list-inline">
                            <table style="background-color: rgb(16, 73, 17)">
                              <tbody>
                              <tr><td></td><td></td><td></td><td></td><td></td></tr>
                              </tbody>
                            </table>
                          </li>
                          <li class="list-inline" style="margin-left: 0%;">{{ totalRatings5 }}</li>
                        </ul>
                      </div>
                      <div id="rate-status">
                        <ul class="list-inline">
                          <li class="list-inline">
                            <table style="background-color: rgb(47, 175, 49)">
                              <tbody>
                              <tr><td></td><td></td><td></td><td></td></tr>
                              </tbody>
                            </table>
                          </li>
                          <li class="list-inline" style="margin-left: 0%;">{{ totalRatings4 }}</li>
                        </ul>
                      </div>
                      <div id="rate-status">
                        <ul class="list-inline">
                          <li class="list-inline">
                            <table style="background-color: rgb(9, 234, 13)">
                              <tbody>
                              <tr><td></td><td></td><td></td></tr>
                              </tbody>
                            </table>
                          </li>
                          <li class="list-inline" style="margin-left: 0%;">{{ totalRatings3 }}</li>
                        </ul>
                      </div>
                      <div id="rate-status">
                        <ul class="list-inline">
                          <li class="list-inline">
                            <table style="background-color: rgb(233, 249, 9)">
                              <tbody>
                              <tr><td></td><td></td></tr>
                              </tbody>
                            </table>
                          </li>
                          <li class="list-inline" style="margin-left: 0%;">{{ totalRatings2 }}</li>
                        </ul>
                      <div id="rate-status">
                        <ul class="list-inline">
                          <li class="list-inline">
                            <table style="background-color: rgb(239, 55, 9)">
                              <tbody>
                              <tr><td></td></tr>
                              </tbody>
                            </table>
                          </li>
                          <li class="list-inline" style="margin-left: 5%;">{{ totalRatings1 }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <!--<app-star-rating [theStarId] = "app.starId" [Id] = "Id" [rateAverageVal] = "rateAverage5"></app-star-rating>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default app-description-panel"  style="height: 150px; overflow-y: auto">
          <div class="panel-body">
            <h4><b>Description</b></h4>
            <p class="text-justify">{{app.description}}</p>
            <ul class="list-inline">
              <li><small><b>Version:</b> {{app.version}}</small></li>
              <li *ngIf="app.compatibility"><small><b>Compatibility: </b> Compatible with DHIS V {{app.compatibility}}</small></li>
              <li *ngIf="app.revision"><small><b>Revision:</b> {{app.revision}}</small></li>
              <li><small><b>License:</b> <a target="_blank" style="color: #0189D6;" href="https://opensource.org/licenses/bsd-license.php">BSD License</a></small></li>
            </ul><br>
            <ul class="list-inline  pull-right">
              <li *ngIf="app.github_url"><a href="{{app.github_url}}" target="_blank" class="btn btn-sm" style="border: none;"><i class="fa fa-github"></i> View on github</a></li>
              <li><a routerLink="/" class="btn btn-sm" style="border: none" (click)="reloadPage();">ALL PRODUCTS</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default app-features-panel" style="height: 230px; overflow-y: auto">
          <div class="panel-body">
            <h4><b>Features</b></h4>
            <ul class="list-unstyled" *ngFor="let item of app.features">
              <li>
                <div class="row">
                  <div class="col-md-2 col-xs-2 col-sm-2" style="color: #008EDD; padding-left: 8%;"><span class=""><i class="fa fa-check-square"></i></span></div>
                  <div class="col-md-10 col-xs-10 col-sm-10" style="padding-left: 0px;">{{item}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>




