.carousel-inner{
  background-color: #FFFFFF;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  right: 2;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 2;
}

.item {
  background-color: #ffffff;
}

.carousel-control {
  background-color: transparent;
}

.carousel-control.right {
  background-image: none !important;
}

.carousel-control.left {
  background-image: none !important;
}
