section {
  margin-top: 10px;
}
h5{
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
  font-size: 1em;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  color: #000;
  right: 25px;
  margin-left: 50px;
  font-size: 1em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: rgb(234, 237, 239);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #FFFFFF;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fa-android {
  color: rgb(125, 196, 97);
}

.fa-apple {
  color: rgb(102, 102, 102);
}

.fa-windows {
  color: rgb(0, 120, 214);
}

.sidenav input {
  margin-right: 35px;
}
#check-all, #uncheck-all {
  height: 28px; padding: 2px 2px; width: 60px;
  color: #FFFFFF;
  text-transform: lowercase;
  margin-right: 30px;
  font-size: 1em;
}

#check-all {
  background-color: #0284CF;
  border: 1px solid #0284CF;
}

#uncheck-all {
  background-color: rgb(201, 48, 44);
  border: 1px solid rgb(201, 48, 44);
}

.fa-filter {
  color: #4DB0E7;
}
